extends layout

block content 
 h2 Here are the list of computer parts categories: 
 ul 
  each category in category_list
    li 
      ul
        li Name: 
          a(href=category.url)= category.name
        li description: #{category.description}