doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    h1= title

    aside
      h2 Navigation
      ul
        li
          a(href='/catalog/categories') All categories
        li
          a(href='/catalog/parts') All parts
        li
          hr
        li
          a(href='/catalog/category/create') Create category
        li
          a(href='/catalog/part/create') Create part


block content
  h2 Welcome! 
  p To the PC Component Inventory Management app. This was made for The Odin Project, By Chheang, with love!

  h2 Listing 
  ul 
   li There are #{data.part_count} computer part in stock 
   li There are #{data.category_count} category of computer part to check out
    